<div class="border">
  <div class="border p-2">
    <strong class="text-center">ジャンル検索</strong>
  </div>
  <ul class="list-unstyled ml-4 mb-5">
    <li class="mb-1">
      ケーキ
    </li>
    <li class="mb-1">
      焼き菓子
    </li>
    <li class="mb-1">
      プリン
    </li>
    <li>
      キャンディ
    </li>
  </ul>
</div>
