<div class="border">
  <div class="border p-2">
    <strong class="text-center">ジャンル検索</strong>
  </div>
  <ul class="list-unstyled ml-4 mb-5">
  <% Genre.all.each do |genre| %>
    <li class="mb-1">
      <%= genre.name %>
    </li>
  <% end %>
  </ul>
</div>
