<!--タイトル-->
<div class="container" style="min-height: 520px;">
  <div class="row mb-3 mt-2">
    <div class="col d-flex justify-content-center">
      <h1 class="display-1 text-center"><strong>About</strong></h1>
    </div>
  </div>

<!--text-->
  <div class="row mb-1">
    <div class="col d-flex justify-content-center">
      <p class="lead font-weight-bold text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
  </div>

<!--写真-->
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="image-about jumbotron" style="width: 400px; height: 200px;"></div>
    </div>
  </div>
</div>