<div class="container">
  <div class="row">
<!--ジャンル検索-->
    <div class="col-md-2">
      <div class="border h-100">
        <div class="border p-2">
          <strong class="text-center">ジャンル検索</strong>
        </div>
        <ul class="list-unstyled ml-4 mb-5">
          <li class="mb-1">
            ケーキ
          </li>
          <li class="mb-1">
            焼き菓子
          </li>
          <li class="mb-1">
            プリン
          </li>
          <li>
            キャンディ
          </li>
        </ul>
      </div>
    </div>
<!--トップ-->
    <div class="col-md-10">
      <div style="background-image: src"app/assets/images/waku_batu.png" width: 50px; height: 50px;">

      </div>
      <img src="..." class="img-fluid" alt="Responsive image">
    </div>
  </div>

