<div class="container">
  <div class="row mt-4">
<!--ジャンル検索-->
    <div class="col-md-2">
      <div class="border">
        <div class="border p-2">
          <strong class="text-center">ジャンル検索</strong>
        </div>
        <ul class="list-unstyled ml-4 mb-5">
          <li class="mb-1">
            ケーキ
          </li>
          <li class="mb-1">
            焼き菓子
          </li>
          <li class="mb-1">
            プリン
          </li>
          <li>
            キャンディ
          </li>
        </ul>
      </div>
    </div>
<!--トップ-->
    <div class="col-md-10">
      <div class="image">
<!-- jumbotron-->
        <div class="border">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </div>
      </div>

<!-- jumbotron-->
    </div>
  </div>
<!--新着商品-->
  <div class="row mt-4">

  </div>