<!--タイトル-->
<div class="container" style="min-height: 500px;">
  <div class="row my-5">
    <div class="col-2">
      <h5 class="bg-gray text-center">ジャンル編集</h5>
    </div>
  </div>

<!--編集-->
  <%= form_with model: @genre, url: admin_genre_path do |f| %>
    <div class="row my-5">
      <div class="col-2">
        <%= f.label :"ジャンル名" %>
      </div>
      <div class="col-3">
        <%= f.text_field :name %>
      </div>
      <div class="col-3">
        <%= f.submit "変更を保存", class: "btn btn-success rounded" %>
      </div>
    </div>
  <% end %>
</div>