@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gray {
  background-color: #eeeeee !important;
}

.image {
  background-image: url("../images/wakubatsu.jpg");
  width: 60%;
  height: 90%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.image-about {
  background-image: url("../images/wakubatsu.jpg");
  width: 36%;
  height: 90%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.item-name {
  margin: 10px 0;
  display: block;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
