<div class="container", style="min-height: 440px;">
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <div class="row mt-4">
            <div class="col-12">
              <div class="row d-flex align-items-center justify-content-center mt-5">
                <div class="col-md-5 text-center">
                  ご注文ありがとうございました！
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>