<!--タイトル-->
<div class="container">
  <div class="row mb-2">
    <div class="col-md-3">
      <h5 class="bg-gray px-1 text-center">商品一覧<span class="text-small">(全<%= Item.count %>件)</span></h5>
    </div>
  </div>
<!--ジャンル-->
  <div class="row mt-4">
    <div class="col-md-2">

    </div>

<!--一覧-->
    <div class="col-md-10 mx-1">
      <div class="d-flex my-box-light flex-wrap">
        <% @items.each do |item| %>
          <div class="row">
            <div class="col">
              <%= image_tag item.get_image(150,150) %>
          　   <p>商品名</p>
          　   ¥<%= item.price.to_s(:delimited) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>